@page
@model SamlCsharp.Pages.IndexModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Provedor de Serviço C#</title>
</head>
<body>
    <h1>Saml2 Test Application</h1>

    <form method="post">
        @if (User?.Identity?.IsAuthenticated ?? false)
        {
            <p>Você está autenticado como <strong>@User.Identity.Name</strong> ✔️</p>
            <button type="submit" name="Action" value="SignOut">Sair</button>
            <span>🔓</span>
        }
        else
        {
            <p>Você <strong>não está autenticado ❌</strong></p>
            <button type="submit" name="Action" value="SignIn">Entrar</button>
            <span></span>
        }
    </form>
</body>
</html>
