@page
@model SamlCsharp.Pages.IndexModel
@{
}

<html>
<head>
    <title>Saml2 Test Application</title>
</head>
<body>
    <h1>Saml2 Test Application</h1> 
    <form method="post">
        @if (User!.Identity!.IsAuthenticated)
        {
            <button name="Action" value="SignOut">Sign Out</button> <!-- (logado) -->
            <span>🔓</span>
        }
        else
        {
            <button name="Action" value="SignIn">Sign In</button> <!-- (não logado) -->
            <span>🔒</span> 
        }
    </form>
</body>
</html>
